a{
    text-decoration: none;
}
$dark: #12151E;
$grey: #252631;
$yellow: #E4D804;
$white: #fff;
$font_apple: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;